/* .welcome-div {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.4);
  width: 500px;
  margin: 40px auto 0;
} */

@font-face {
  src: url('Trueno-Round-Bold.ttf.woff') format('woff'),
    url('Trueno-Round-Bold.ttf.svg#Trueno-Round-Bold') format('svg'),
    url('Trueno-Round-Bold.ttf.eot'),
    url('Trueno-Round-Bold.ttf.eot?#iefix') format('embedded-opentype');
  font-family: 'Trueno-Round-Bold';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('Poppins.ttf.woff') format('woff'),
    url('Poppins.ttf.svg#Poppins') format('svg'),
    url('Poppins.ttf.eot'),
    url('Poppins.ttf.eot?#iefix') format('embedded-opentype');
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
}

#welcoming {
  z-index: 13;
  color: #393d72;
  width: 299.454px;
  height: 282.818px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
  position: absolute;
  top: 225px;
  right: 200px;
}

#top {
  font-size: 19px;
  font-family: 'Trueno-Round-Bold';
  font-weight: normal;
  font-style: normal;
  color: rgb(255, 72, 128);
  letter-spacing: -1px;
  margin-bottom: 21px;
  margin-top: -11px;
  display: block;
  text-align: left;
  position: relative;
}

@keyframes letters {
  0% {
    transform: translateY(0px);
    filter: opacity(0.8);
  }

  20% {
    transform: translateY(-20px);
  }

  40%,
  100% {
    transform: translateY(0px);
    filter: opacity(1);
  }
}

#top span {
  position: relative;
  display: inline-block;
  transform-origin: 50% 50%;
  animation: letters 3s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

#middle {
  font-family: 'Trueno-Round-Bold';
  z-index: 10;
  height: auto;
  width: auto;
  color: #393d72;
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: left;
  line-height: 75px;
  letter-spacing: -2px;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
}

.content1::after {
  content: "\a";
  white-space: pre;
}

.content2::after {
  content: "\a";
  white-space: pre;
}

.sec-1 {
  width: 100%;
  height: 100%;
}

.sec-2 {
  padding-top: 50px;
  width: 100%;
  height: 800px;
  color: #393d72;
  text-align: center;
}

.sec-2>h2 {
  font-family: 'Trueno-Round-Bold';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  letter-spacing: -2px;
  margin-bottom: 50px;
}

@keyframes arrowing {
  0% {
    transform: translate(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

@keyframes boning {
  0% {
    scale: 1.2;
    filter: opacity(0.5);
  }

  40% {
    filter: opacity(0.5);
  }

  60% {
    filter: opacity(1);
  }

  100% {
    scale: 1.6;
  }
}

@keyframes staring {
  0% {
    scale: 0.8;
    filter: opacity(0.5);
  }

  40% {
    filter: opacity(0.5);
  }

  60% {
    filter: opacity(1);
  }

  100% {
    scale: 1.1;
  }
}

@keyframes fingerprinting {
  0% {
    filter: grayscale(0%) brightness(100%);
  }

  50% {
    filter: grayscale(100%) brightness(90%);
  }
}

:root {
  --animation-time: 1.5s;
}

#learnMoreBtn {
  position: absolute;
  bottom: 3%;
  z-index: 11;
  background-color: rgb(255, 72, 128);
  font-family: 'Trueno-Round-Bold';
  text-transform: uppercase;
  height: auto;
  width: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: left;
  line-height: 39px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 11px;
  padding-left: 31px;
  border-radius: 15px;
  padding-right: 31px;
  filter: blur(0px) grayscale(0%) brightness(100%);
  transform-origin: 50% 50%;
  opacity: 1;
  visibility: visible;
  border-width: 0px;
}

#learnMoreBtn:hover {
  background-color: #ffae00;
}

#arrow {
  position: absolute;
  top: 72%;
  left: -73%;
  z-index: 12;
  color: rgb(255, 255, 255);
  width: 68.536px;
  height: 84.946px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50%;
  opacity: 1;
  filter: none;
  scale: 1.5;
  animation: arrowing 3s linear alternate infinite;
  /* border: 1px solid; */
}

#star {
  position: absolute;
  top: 10%;
  left: 130%;
  z-index: 15;
  color: rgb(255, 255, 255);
  width: 19.3059px;
  height: 19.3059px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
  animation: staring var(--animation-time) ease alternate infinite;
  /* border: 1px solid; */
}

#bone {
  position: absolute;
  top: -25%;
  left: -28%;
  z-index: 16;
  color: rgb(255, 255, 255);
  width: 32px;
  height: 24px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
  animation: boning var(--animation-time) ease alternate infinite;
  /* border: 1px solid; */
}

#fingerprints {
  position: absolute;
  top: 99%;
  left: 94%;
  z-index: 16;
  width: 32px;
  height: 24px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
  scale: 2.3;
  animation: fingerprinting 1s linear alternate infinite;
  /* border: 1px solid; */
}

.hills {
  position: absolute;
  width: 100%;
  bottom: -99px;
  transform: rotateX(180deg);
}


.sec-2 #mid {
  display: flex;
}

.sec-2 #mid-left {
  position: relative;
  height: 450px;
  flex-basis: 50%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .sec-2 #mid-left img {
  width: 320px;
  height: 280px;
} */

.sec-2 #mid-right {
  height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  /* border: 1px solid blue; */
  padding-left: 90px;
  padding-right: 30px;
}


.sec-2 #mid-right #two ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2.3rem;
  height: 186px;
  font-family: 'Trueno-Round-Bold';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

.sec-2 #mid-right #two ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sec-2 #mid-right #two ul li .icon {
  color: rgb(255, 72, 128);
  margin-right: 10px;
}

.sec-2 #mid-right #two ul li span {
  padding: 4px 0 0 10px;
}

.sec-2 #mid-right #one p {
  height: 150px;
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #858687;
  margin-top: 0;
  padding: 0;
  line-height: 1.875em
}

/* .sec-2 #mid-right div {
  border: 1px solid;
} */

.sec-2 #mid-right #three button {
  font-family: 'Trueno-Round-Bold';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #FFF;
  height: 51px;
  border-radius: 15px;
  padding: 13px 40px;
  background-color: rgb(255, 72, 128);
}

#home {
  clip-path: path("M500.45,77.07c-55.98-22.78-120.41-2.72-178.53-11.01C260.98,57.36,187.26,7.27,129.2,1.51C-38.98-15.15-22.16,177.84,63.12,286.89C422.79,746.83,740.54,174.75,500.45,77.07z");
  position: absolute;
  top: 0;
  left: 100px;
  animation-name: homeBackwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#grayShape {
  position: absolute;
  top: 0;
  left: 100px;
  width: 100%;
  height: 450px;
}

#home:hover {
  animation-name: homeForwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes squeezing {
  0% {
    clip-path: path("M500.45,77.07c-55.98-22.78-120.41-2.72-178.53-11.01C260.98,57.36,187.26,7.27,129.2,1.51C-38.98-15.15-22.16,177.84,63.12,286.89C422.79,746.83,740.54,174.75,500.45,77.07z");
  }

  100% {
    clip-path: path("");
  }
}

@keyframes homeForwards {
  0% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }

  100% {
    transform: scaleX(1.2) scaleY(1.2) translateX(0px) translateY(40px) rotate(10deg);
  }
}

@keyframes homeBackwards {
  0% {
    transform: scaleX(1.2) scaleY(1.2) translateX(0px) translateY(40px) rotate(10deg);
  }

  100% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }
}


.sec-3 {
  /* border: 1px solid; */
  height: 950px;
  text-align: center;
}

.sec-3>h2 {
  font-family: 'Trueno-Round-Bold';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  margin-bottom: 50px;
  color: #393d72;
}

.sec-3 #container {
  display: flex;
  position: relative;
}

.sec-3 #right {
  position: absolute;
  width: fit-content;
  right: 0;
}

.sec-3 #right #template {
  height: 72%;
  width: 72%;
  margin-left: 40px;
  margin-top: 40px;
}

.sec-3 #right #weeklyPet {
  border-radius: 50%;
  position: absolute;
  top: 108px;
  right: 219px;
  width: 477px;
  height: 478px;
}

.sec-3 #left {
  position: absolute;
  width: fit-content;
  top: 100px;
  left: 170px;
  padding: 57px;
  height: 474px;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-self: center;
  text-align: left;
}

.sec-3 #left div:first-child {
  line-height: 50px;
  font-family: 'Trueno-Round-Bold';
  font-weight: normal;
  font-style: normal;
  font-size: 3.125rem;
  letter-spacing: -2px;
  color: #393d72;
}

.sec-3 #left div:nth-child(2) p {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #858687;
}

.sec-3 #left div:nth-child(3) button {
  font-family: 'Trueno-Round-Bold';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #FFF;
  height: 51px;
  border-radius: 15px;
  padding: 13px 40px;
  background-color: rgb(255, 72, 128);
}