
/* .search-page-container{
    border: 1px solid;
    display: flex;
} */
.pets-list {
    /* border: 1px solid; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    width: 920px;
    left: 400px;
    top: 95px;
}
.search-pet-form{
    /* border: 1px solid; */
    position: absolute;
    width: 300px;
    top: 95px;
    left: 50px;
    display: flex;
    justify-content: flex-start;
}
.search-pet-form div {
    padding: 0.4rem 0;
}
.search-btn-container {
    /* border: 2px solid; */
    position: relative;
    height: 60px;
}
.search-btn{
    position: absolute;
    right: 25%;
    transform: translateX(-50%);
}
.type-span{
    flex-basis: 22%;
    text-align: center;
}
.adoption-span{
    flex-basis: 47%;
    text-align: center;
}
[placeholder^="Name"]{
    padding-left: 18px;
}
[placeholder^="Height"]{
    padding-left: 18px;
}
[placeholder^="Weight"]{
    padding-left: 18px;
}
#dropdown-basic, #dropdown-advanced{
    margin-right: 10px;
}