.pet-page-card {
    margin: 2rem auto;
    width: 20rem;
}
.buttons{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.pet-page-card-body{
    text-align: center;
    /* width: 500px; */
}
.btn{
    flex-basis: 100px;
}